:root {
  --grey-0: #ffffff;
  --grey-25: #bfbfbf;
  --grey-50: #7f7f7f;
  --grey-100: #000000;

  --color-highlight-primary: #F9F448;
  --color-highlight-secondary: #A2E5F4;
  --color-highlight-tertiary: #4FA4D3;
  --color-highlight-black: #706D2E;

  --btn-bg-active: rgba(0, 0, 0, 0.2);
  --btn-bg-focus: rgba(0, 0, 0, 0.075);
}
